body {
    background: darkgray;
    color: white;
    border-style: solid;
    border-color: black;
}
h1 {
    color: rgb(110, 4, 110);
    background-color: black;
    text-align: center;
    font-size: 40px;
}
h2 {
    color: rgb(110, 4, 110);
    background-color: black;
    padding-left: 20px;
}
#mypersonality {
    font-size: 25px; 
    width: 650px;
    text-align: center;
    margin: auto;
}
.Aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delores {
    padding-right: 20px;
    height: 300px;
    margin-left: auto;
}
#wsiblings {
    height: 270px;
    width: 230px;
    margin-left: 20px;
    padding-top: 25px;
}
#wdad {
    height: 10%;
    width: 200px;
    padding-top: 25px;
}
#bella {
    height: 270px;
    width: 200px;
    margin-right: 40px;
    padding-top: 25px;
}
#cookie {
    height: 270px;
    width: 375px;
    padding-top: 25px;
}
.myfamily {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#aboutfamily {
    font-size: 25px;
    width: 400px; 
    text-align: center;
    margin:auto;
 }
#funsurprise {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}
.zoomable-image {
    transition: transform 0.3s ease;
  }

.zoomable-image.zoomed {
    transform: scale(2);
  }
